  html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

h1 {
color: royalblue;
}

button {
  color: white;
  background-color: royalblue;
  border: none;
  block-size: 20px;
  cursor: pointer;
}

button:hover{
  background-color: black;
}

input {
  width: 280px;
}